<div *ngIf="cust">
    <mat-card>
<div>
    <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
    <input matInput required minlength="1" [(ngModel)]="cust.firstName" placeholder="First Name"/>
    
    <mat-hint>
        First name is required
    </mat-hint>
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="cust.lastName" placeholder="Last Name"/>
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="cust.email" placeholder="Email"/>
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
    <input matInput [(ngModel)]="cust.phoneNumber" placeholder="Phone Number"/>
    </mat-form-field>

</div>
<div>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Birth Date</mat-label>
    <input matInput [(ngModel)]="cust.birthDate" placeholder="Birthdate"/> -->

    <mat-form-field>
        <input matInput [matDatepicker]="birthDate" placeholder="birthDate">
        <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
        <mat-datepicker #birthDate startView="multi-year"></mat-datepicker>
      </mat-form-field>
      
 
</div>
<button mat-raised-button color="primary" (click)="updateCust(cust)" *ngIf="cust.id">Save</button>
<button mat-raised-button color="primary" (click)="deleteCust(cust)" *ngIf="cust.id">Delete</button>
<button mat-raised-button color="primary" (click)="createCust(cust)" *ngIf="!cust.id">Create</button>


</mat-card>
</div>